* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: radial-gradient(circle at top, #3b0066, #0b0014);
  font-family: Arial, sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: rgba(0,0,0,0.65);
  padding: 30px;
  width: 330px;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 0 25px #a020f0;
}

h1 {
  margin: 0 0 10px;
  color: #d28bff;
}

p {
  font-size: 14px;
  opacity: 0.8;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin: 15px 0;
}

button {
  width: 100%;
  padding: 13px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, #8a2be2, #ff00ff);
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 12px #ff00ff;
}

button:hover {
  transform: scale(1.03);
}

#resultado {
  margin-top: 15px;
  word-break: break-all;
  font-size: 13px;
}
